
<body class = "container">

  <%= simple_form_for(@mug) do |f| %>
    <%= f.input :name %>
    <%= f.input :color %>
    <%= f.input :size %>
    <%= f.input :localisation %>
    <%= f.file_field :photo, as: :file, wrapper: :horizontal_file_input %>
    <%= f.button :submit, label: "Create Booking" %>

  <% end %>

</body>
