
<div class = "container">
  <%= link_to mugs_path(@mug) do%>
    <button type="button" class="btn btn-flat">return to index</button>
  <% end %>

  <div style="border: 1px solid rgb(221, 221, 221); border-radius: 12px; padding: 24px; box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px; margin-top: 10px;">
    <%#mug info%>
    <div class="card-group">
      <div class= "">
        <img src="<%= @mug.picture%>" style ="width:350px; height: 350px;">
      </div>
      <div style="margin-left: 40px ; margin-right: 70px ;">
        <h2><%=@mug.name%></h2>
        <h4><%=@mug.description%></h4>
        <h3>Details</h3>
        <p><strong>color: </strong><%=@mug.color%></p>
        <p><strong>size: </strong><%=@mug.size%></p>
        <p><strong>localisation: </strong><%=@mug.localisation%></p>
        <p><strong>price: </strong><%=@mug.price%> €</p>
      </div>


      <%# FORM %>

      <div class ="my_card">

          <%= simple_form_for [@mug, @booking],
                                    html: {
                                      data: {
                                        controller: 'flatpickr'
                                      }
                                    } do |f| %>
                  <%# // Target each input with the stimulus controller: %>
                  <%# // <input ...data-flatpickr-target="startDateInput"...> %>
                  <%= f.input :start_date,
                              # // Note that we have to turn our inputs to string inputs
                              # // so that flatpickr can correctly use them
                              as: :string,
                              input_html: {
                                class: '',
                                data: {
                                  flatpickr_target: 'startDateInput',
                                }
                              } %>
                  <%# // <input ...data-flatpickr-target="endDateInput"...> %>
                  <%# // On peut se permettre de cacher celui-ci avec la classe bootstrap d-none
                  // car le premier input ouvre un calendrier qui autorise le choix
                  // de la date de début et de fin %>
                  <%= f.input :end_date,
                              as: :string,
                              input_html: {
                                class: '',
                                data: {
                                  flatpickr_target: 'endDateInput'
                                }
                              } %>

                    <%= f.submit 'Book now!', class: 'btn btn-flat' %>
        <% end %>
      </div>
    </div>
  </div>

</div>

<%# PREFIX + _path + (peut être des instances --> va regarder rails routes pour les ids) %>
