<body class = "container">
  <%= link_to mugs_path(@mug) do%>
    <button type="button" class="btn btn-primary">return to index</button>
  <% end %>

  <div style="border: 1px solid rgb(221, 221, 221); border-radius: 12px; padding: 24px; box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px; margin-top: 20px;">
    <%#mug info%>
    <div class="card-group">
      <div class= "">
        <img src="<%= @mug.picture%>" style="width:300px; heigh:300px;">
      </div>
      <div style="margin-left: 40px ; margin-right: 70px ;">
        <h2><%=@mug.name%></h2>
        <h4><%=@mug.description%></h4>
        <h3>Details</h3>
        <p><strong>color: </strong><%=@mug.color%></p>
        <p><strong>size: </strong><%=@mug.size%></p>
        <p><strong>localisation: </strong><%=@mug.localisation%></p>
        <p><strong>price: </strong><%=@mug.price%> €</p>
      </div>


      <%# FORM %>

    <div class ="my_card">
      <%= simple_form_for([@mug, @booking]) do |f| %>
      <%#= f.input :name %>
      <%#= f.input :color %>
      <%#= f.input :size %>
      <%= f.input :start_date, id: "start_date" %>
      <%= f.input :end_date, id: "end_date" %>
        <%# <div class="form-group">
          <label for="days">Number of Days:</label>
          <input type="number" name="days" id="days" min="1" max="30" required>
        </div>
        <div class="form-group">
          <label for="price">Price:</label>
          <span id="price"></span>
        </div> %>

        <button type="button" class="btn btn-primary" id="submit-btn">
          <%= f.submit "booking this mug", class:"btn btn-flat" %>
        </button>
       <% end %>
      </div>
</body>

<%# PREFIX + _path + (peut être des instances --> va regarder rails routes pour les ids) %>
