<body class = "container">
  <h1>Welcome to <strong>MUGLANDIA</strong></h1>
  <h2>Rent Your Favorite Mugs</h2>

  <div>
    <h2>Home
      <ul>
          <%= link_to "All mugs", mugs_path  %>
      </ul>
    </h2>
  </div>

  <div>
    <p>Do you love mugs as much as we do?</p>
    <p>Here you can rent your favorite mugs from other mug lovers.</p>
  </div>

  <div>
    <h3>Available Mugs</h3>
    <div>
    <div class="cards">
        <ul>
          <% @mugs.each do |mug| %>
        <div class="card-category" style="text-align:center; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(mug.picture)">
              <img src="<%= mug.picture %>">
              <h3><%= mug.description %></h3>
              <p>Price: <%= mug.price %></p>
              <p>Size: <%= mug.size %></p>
        </div>
          <% end %>
        </ul>
    </div>
    </div>
  </div>
</body>
</html>
